%h1 Documents 
%h1=  @doc.title
%h1=  @doc.content
= link_to "documents list", docs_path 
= link_to "edit this documents", edit_doc_path(@doc)
= link_to "delete", docs_path, method: :delete ,data:{confirm:"are you sure ?"}